@import url('https://fonts.googleapis.com/css2?family=Rambla&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

/* override chakra's switch style */
.chakra-switch__thumb {
  background: #bdbdbd !important;
}

.chakra-switch__thumb[aria-checked='true'],
.chakra-switch__thumb[data-checked] {
  background: #2f80ed !important;
}

.chakra-switch__track {
  background: white !important;
  border: 1px solid #cfcfcf !important;
}
